.btn {
  all: unset;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
  padding: 8px 16px;
  height: 48px;
  text-decoration: none;
  font-size: var(--css-fontsize-md);
}

.btn:not(.btn-link) {
  border: 1px solid var(--css-bordercolour-light);
  background-color: var(--css-bgcolour-dp1);
}

.btn:disabled {
  /* color: var(--css-textcolour-disabled); */
  cursor: default;
  /* removes the border without changing the button size (box-sizing: border-box) */
  /* border: 1px solid var(--css-textcolour-disabled);
  color: var(--css-textcolour-disabled); */
  background-color: unset;
  filter: brightness(50%);
}

.btn:hover:enabled {
  filter: brightness(150%);
}

.btn.btn-submit {
  border-color: var(--css-colours-success-background);
  background-color: var(--css-colours-success-background);
}

.btn.btn-submit:hover:enabled {
  border-color: var(--css-colours-success-average);
  background-color: var(--css-colours-success-average);
}

/* .btn.btn-submit {
  border-color: var(--css-colours-info-average);
  background-color: var(--css-colours-info-average);
}

.btn.btn-submit:disabled {
  filter: brightness(50%);
}

.btn.btn-submit:hover:enabled {
  border-color: var(--css-colours-info-background);
  background-color: var(--css-colours-info-background);
} */

.btn.btn-danger {
  border-color: var(--css-colours-error-average);
  background-color: var(--css-colours-error-background);
}

.btn.btn-danger:hover:enabled {
  background-color: var(--css-colours-error-foreground);
}
