.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.fitcontent-x {
  width: fit-content;
}

.fitcontent-y {
  height: fit-content;
}

.bbox {
  box-sizing: border-box;
}

.focusable-borderbot:focus {
  border-bottom: 2px solid var(--css-palette-foreground-dp06);
}

.focusable-borderbot:not(:focus) {
  border-bottom: 2px solid transparent;
}
