.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.x-start {
  align-items: start;
}

.center {
  justify-content: center;
}
