.input {
  box-sizing: border-box;
  border: 1px solid var(--css-bordercolour);
  color: var(--css-colours-neutral-foreground);
  background-color: inherit;
  padding: 12px;
  font-size: var(--css-fontsize-md);
}

.input:focus {
  border: 1px solid var(--css-colours-info-foreground);
  box-shadow: none;
  outline: none;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #ccc;
}
