.border {
  border: 1px solid var(--css-bordercolour);
}

.noborder {
  border: none;
}

.color-disabled {
  color: var(--css-textcolour-disabled);
}

.hoverable:hover:not(:disabled) {
  background-color: var(--css-overlay-hovered);
}

.disable:disabled {
  filter: brightness(50%);
  cursor: default !important;
}
