.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mx8 {
  margin-right: 8px;
  margin-left: 8px;
}

.m32 {
  margin: 32px;
}

.px8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px32 {
  padding-right: 32px;
  padding-left: 32px;
}

.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.g4 {
  gap: 4px;
}

.g8 {
  gap: 8px;
}

.g16 {
  gap: 16px;
}

.g32 {
  gap: 32px;
}

.p4 {
  padding: 4px;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.p32 {
  padding: 32px;
}
