* {
  box-sizing: "border-box";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--css-palette-background-dp03);
  font-size: var(--css-fontsize-md);
  color: var(--css-textcolour-regular);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  fill: currentColor;
}

#root {
  width: 100%;
}

.unset {
  all: unset;
}

fieldset {
  all: unset;
}
